<!DOCTYPE html>
<!-- 
 * Projeto:  CachaBot  -  BOT para o Discord para gerenciar Usuarios.
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Manaus/AM  -  2024
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>CachaBOT</title>
</head>
    
<body th:style="'background-image:url(' + @{/assets/cacha_bg.png} + '); background-repeat: no-repeat, repeat; background-size: cover;'">    
    <!-- Full Page Device -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/fragmento-menu-sistema :: navbar-menusistema}"></div>            
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center">
                <div class="col" style="margin-top: 4%;">
                    <!--    Titulo da Secao     -->
                    <h2 th:text="#{usuario.edit.titulo}"></h2>
                    <div class="alert alert-danger" th:if="${mensagem}">
                        <span th:text="${mensagem}"></span>
                    </div>

                    <form class="cachaCard" th:action="@{/usuario/atualizar}" th:object="${colaboradorDTO}" method="post"  novalidate="">

                        <!-- STATUS -->
                        <div class="row m-1 mb-3 align-items-center bg-light rounded shadow-sm p-2">
                            <label class="col-sm-2 col-form-label" th:text="#{form.user.active}"></label>
                            <div class="col-sm-5 d-flex justify-content-between">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="radio"
                                           th:field="*{ativo}"
                                           value="true"
                                           th:checked="${colaboradorDTO.ativo()}" />
                                    <label class="form-check-label" th:text="#{form.user.yes}"></label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input"
                                           type="radio"
                                           th:field="*{ativo}"
                                           value="false"
                                           th:checked="${!colaboradorDTO.ativo()}" />
                                    <label class="form-check-label" th:text="#{form.user.no}"></label>
                                </div>

                            </div>
                        </div>

                        <!-- NOME -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" th:text="#{form.user.nome}"></label>
                            <div class="col-sm-5">
                                <input class="form-control"
                                       type="text"
                                       th:field="*{nomePessoal}"
                                       th:value="${colaboradorDTO.nomePessoal()}" />
                            </div>
                            <div class="col-sm-5">
                                <span class="mensagem"
                                      th:if="${#fields.hasErrors('nomePessoal')}"
                                      th:errors="*{nomePessoal}"></span>
                            </div>
                        </div>

                        <!-- EMAIL -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" th:text="#{form.user.email}"></label>
                            <div class="col-sm-5">
                                <input class="form-control"
                                       type="email"
                                       th:field="*{contaEmail}"
                                       th:value="${colaboradorDTO.contaEmail()}" />
                            </div>
                            <div class="col-sm-5">
                                <span class="alert alert-danger"
                                      th:if="${#fields.hasErrors('contaEmail')}"
                                      th:errors="*{contaEmail}"></span>
                            </div>
                        </div>

                        <!-- NÍVEL DE ACESSO -->
                        <div class="row mb-3" sec:authorize="hasAuthority('Administrador')">
                            <label class="col-sm-2 col-form-label" th:text="#{form.user.accessLevel}"></label>
                            <div class="col-sm-5">
                                <select class="form-select"  th:field="*{nivelAcessoId}" >
                                    <option value="" th:text="#{form.user.select}">-- Selecione --</option>

                                    <option th:each="nivel : ${permissoesList}"
                                            th:value="${nivel.entidadeID}"
                                            th:selected="${nivel.entidadeID == colaboradorDTO.nivelAcessoId()}"
                                            th:text="${nivel.nome}">
                                    </option>
                                </select>
                            </div>

                            <div class="col-sm-5">
                                <span class="mensagem"
                                      th:if="${#fields.hasErrors('nivelAcessoId')}"
                                      th:errors="*{nivelAcessoId}"></span>
                            </div>
                        </div>

                        <!-- CAMPOS HIDDEN (APENAS ID DO USUÁRIO) -->
                        <input type="hidden"  name="entidadeID"   th:value="${colaboradorDTO.entidadeID()}" />

                        <!-- BOTÃO -->
                        <input class="btn btn-primary btn-xl" type="submit" th:value="#{form.user.update}" />

                    </form>
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            <!--  RODAPE DA PAGINA  -->
            <div th:insert="~{modulos/fragmento-footer-clean :: footer-clean}"></div>
        </div>
    </div>
</body>
</html>