<!DOCTYPE html>
<!-- 
 * Projeto:  CachaBot  -  BOT para o Discord para gerenciar Usuarios.
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Manaus/AM  -  2024
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>CachaBOT</title>
</head>
    
<body id="page-top">

    <div th:insert="~{modulos/fragmento-menu-web :: navbar-menuprincipal}"></div>
    
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1">CachaBOT</h1>
            <h3 class="mb-5"><em><span th:text="#{home.text.terms}"/></em></h3>
        </div>
    </header>

    <!-- Terms  -->
    <section class="content-section bg-light" id="about">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <h2>Terms and Conditions of Use of CachaBOT</h2>
                    <p class="lead mb-5">&nbsp;</p>
                    <div style="text-align: left; font-weight: normal; ">
                        <p lang="en-US">These "Terms of Use" ("Terms") define your access to and use of the CachaBOT website (<em><strong>http://cachabot.aeroceti.com.br</strong></em>) as well as the services provided by the CachaBot application (Discord plugin). Please read these Terms carefully and, if you have any questions, contact us.</p>
                        <p lang="en-US">By accessing the CachaBOT website or installing CachaBOT on your Discord “server”, you agree to and accept these Terms and our Privacy Policy.</p>
                        <p lang="en-US"><strong>1. Using CachaBot</strong></p>
                        <p lang="en-US">a. <u>Who may use CachaBot</u></p>
                        <p lang="en-US">You may use our Discord application (Discord bot), called <strong>CachaBot</strong>, to automate the task of assigning a specific “role” to new members and to use some implemented features that are described on the CachaBot Manual page on your Discord “server”. This "service" is made available to the general public without any technical obligation or liability. This service must be used at your own risk and only in accordance with these Terms and all applicable laws.</p>
                        <p lang="en-US">b. <u>Our License to You</u></p>
                        <p lang="en-US">Subject to these Terms and our Privacy Policy, we grant you a limited, non-exclusive, non-transferable and revocable license to use our Service.</p>
                        <p lang="en-US">c. <u>Commercial Use of CachaBot</u></p>
                        <p lang="en-US">Unless expressly authorized by the Developer, you agree not to display, modify, sell, resell or transfer for any commercial purposes any part of the Service or the use of CachaBot.</p>
                        <p lang="en-US">The installation of CachaBot may be considered a paid "service" under the sole responsibility of the service provider and without ties to the Developer.</p>
                        <p lang="en-US"><strong>2. Definitions used in this document</strong></p>
                        <p lang="en-US">The following definitions shall have the same meaning whether they appear in singular or plural. For the purposes of these Terms, words that begin with a capital letter have the meanings defined below:</p>
                        <p lang="en-US"><strong>Application</strong> - means the program (software) provided by us and downloaded by you (the user) on any electronic device, called CachaBot.</p>
                        <p lang="en-US"><strong>Device</strong> - means any device that can access the Service, such as a computer, a mobile phone or a digital tablet.</p>
                        <p lang="en-US"><strong>Developer</strong> - refers to the CachaBot Development Group (linked to AeroCETI).</p>
                        <p lang="en-US"><strong>Service</strong> - refers to the CachaBot Application, the Website or both.</p>
                        <p lang="en-US"><strong>Terms and Conditions</strong> (also referred to as "Terms") - are these Terms and Conditions that form the entire agreement between the User and the Developer regarding the use of the Service.</p>
                        <p lang="en-US"><strong>Third-Party Social Media Service</strong> - means any services or content (including data, information, products or services) provided by third parties that may be displayed, included or made available through the Service.</p>
                        <p lang="en-US"><strong>Website</strong> - refers to the CachaBot Site, accessible at https://cachabot.aeroceti.com.br</p>
                        <p lang="en-US"><strong>You</strong> - means the individual who accesses or uses the Service, a company or other legal entity on whose behalf any individual is accessing or using the Service, as applicable.</p>
                        <p lang="en-US"><strong>3. Acceptance and use of the Service</strong></p>
                        <p lang="en-US">These are the Terms and Conditions that govern the use of this Service and the agreement that operates between You and the Developer. These Terms and Conditions establish the rights and obligations of all users in relation to the use of the Service.</p>
                        <p lang="en-US">Your access to and use of the Service are conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users and others who access or use the Service.</p>
                        <p lang="en-US">You represent that you are over the age of 18. The Developer is not responsible for the use of the services by persons under 18 years of age.</p>
                        <p lang="en-US">Your access to and use of the Service are also conditioned on Your acceptance of and compliance with the Developer's Privacy Policy. Our Privacy Policy describes Our policies and procedures regarding the collection, use and disclosure of Your personal information when You use the Application or the Website and informs You about Your privacy rights and how the law protects You. Please read our Privacy Policy carefully before using our Service.</p>
                        <p lang="en-US">By accessing or using the Service, You agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions, then You must not use the Services offered by CachaBOT.</p>
                        <p lang="en-US"><strong>4. Disclaimer "AS IS" and "AS AVAILABLE"</strong></p>
                        <p lang="en-US">The CachaBot Service is provided "as is", without warranty of any kind, express or implied. THE DEVELOPER SPECIFICALLY DISCLAIMS ALL INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUE, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL OR OTHER INTANGIBLE LOSSES, RESULTING FROM:</p>
                        <p lang="en-US"><strong>A.</strong> YOUR ACCESS TO, USE OF, OR INABILITY TO ACCESS OR USE OUR SERVICE;</p>
                        <p lang="en-US"><strong>B.</strong> ANY CONDUCT OR CONTENT OF THIRD PARTIES, INCLUDING ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT BY OTHER USERS OR THIRD PARTIES; AND</p>
                        <p lang="en-US"><strong>C.</strong> UNAUTHORIZED ACCESS TO, USE OF, OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.</p>
                        <p lang="en-US">The Developer assumes no responsibility and shall have no liability for any User Content that You (or any other user or third party) post or transmit using our Service.</p>
                        <p lang="en-US">The Service is provided to You "AS IS" and "AS AVAILABLE" and with all faults and defects without warranty of any kind. To the maximum extent permitted by applicable law, the Developer, on its own behalf, expressly disclaims all warranties, whether express, implied, statutory or otherwise, with respect to the Service, including all implied warranties of merchantability, fitness for a particular purpose, title and non-infringement, and warranties that may arise from course of dealing, course of performance, usage or trade practice.</p>
                        <p lang="en-US">Without limiting the foregoing, neither the Developer nor any company provider makes any representation or warranty of any kind, express or implied: (i) as to the operation or availability of the Service, or the information, content and materials or products included in it; (ii) that the Service will be uninterrupted or error-free; (iii) as to the accuracy, reliability or timeliness of any information or content provided through the Service; or (iv) that the Service, its servers, the content or emails sent from/on behalf of the Developer are free of viruses, scripts, Trojan horses, worms, malware, time bombs or other harmful components.</p>
                        <p lang="en-US">Some jurisdictions do not allow the exclusion of certain types of warranties or limitations on statutory rights of a consumer, so some or all of the exclusions and limitations above may not apply to You. But, in such case, the exclusions and limitations set forth in this section will apply to the fullest extent possible under applicable law.</p>
                        <p lang="en-US"><strong>5. Dispute Resolution</strong></p>
                        <p lang="en-US">For any dispute you have with the Developer, you agree to first contact us and attempt to resolve the dispute informally. If the Developer has not been able to resolve the dispute with you informally, each of us agrees to resolve any claim, dispute or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or related to these Terms under the exclusive jurisdiction of the Courts of Amazonas, Brazil.</p>
                        <p lang="en-US">Nothing in this Section will prevent either party from seeking injunctive or other equitable relief from the courts for matters related to data security, intellectual property or unauthorized access to the Service. ALL CLAIMS MUST BE BROUGHT IN THE INDIVIDUAL CAPACITY OF THE PARTIES, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE ACTION AND, UNLESS OTHERWISE AGREED, THE ARBITRATOR MAY NOT CONSOLIDATE THE CLAIMS OF MORE THAN ONE PERSON.</p>
                        <p lang="en-US"><strong>6. General Terms</strong></p>
                        <p lang="en-US"><u>a. Notice Procedures and Changes to these Terms</u></p>
                        <p lang="en-US">The Developer reserves the right to determine the form and means of providing notices to you, and you agree to receive legal notices electronically if we so choose. We may revise these Terms from time to time and the most current version will always be posted on our website. By continuing to access or use the Service after revisions become effective, you agree to be bound by the revised Terms. If you do not agree with the new terms, stop using the Service.</p>
                        <p lang="en-US"><u>b. Additional Waiver</u></p>
                        <p lang="en-US">No waiver of any of the terms of these Terms shall be deemed a further or continuing waiver of such term or any other term, and the Developer's failure to enforce any right or provision under these Terms shall not constitute a waiver of such right or provision.</p>
                        <p lang="en-US"><strong>7. Validity and Forum of these Terms</strong></p>
                        <p lang="en-US">These Terms shall be governed by the laws of Brazil and are subject to the exclusive jurisdiction of the courts in Amazonas.</p>
                        <p lang="en-US">These Terms of Use are effective as of </span><span th:text="#{home.terms.validade.date}"/>.</p>                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- PRE-FOOTER -->
    <div th:insert="~{modulos/fragmento-links-web :: pre-footer}"></div>
           
    <!-- FOOTER -->
    <div th:insert="~{modulos/fragmento-footer-home :: navbar-footer}"></div>

</body>
</html>
