<!DOCTYPE html>
<!-- 
 * Projeto:  CachaBot  -  BOT para o Discord para gerenciar Usuarios.
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Manaus/AM  -  2024
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>CachaBOT</title>
</head>
    
<body>    
    <!-- Full Page Container -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">

            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center">
                <div class="col" style="margin-top: 4%;">
                    <!--    Titulo da Secao     -->
                    <div class="d-flex text-center align-items-center justify-content-center">
                        <h1 th:text="#{permissao.list}" class="m-0"></h1>
                    </div>
                    <!--    Tabela com os dados da secao     -->
                    <table class="table table-striped bg-light rounded shadow-sm">
                        <tbody>
                            <tr th:if="${permissao.empty}" class="text-center">
                                <td colspan="2" th:text="#{table.permissao.vazio}"></td>
                            </tr>
                            <tr th:each="nivel : ${permissao}">
                                <td  style="text-align: center;"><span th:text="${nivel.entidadeID}"></span></td>
                                <td  style="width: 85%;"        ><span th:text="${nivel.nome}"></span></td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            <!-- ROODAPE DA PAGINA -->
            <div th:insert="~{modulos/fragmento-footer-clean :: footer-clean}"></div>
        </div>
    </div>
</body>
</html>