<!DOCTYPE html>
<!-- 
 * Projeto:  CachaBot  -  BOT para o Discord para gerenciar Usuarios.
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Manaus/AM  -  2024
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>CachaBOT</title>
</head>
    
<body th:style="'background-image:url(' + @{/assets/cacha_bg.png} + '); background-repeat: no-repeat, repeat; background-size: cover;'">    
    <!-- Full Page Container -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/fragmento-menu-sistema :: navbar-menusistema}"></div>
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <section class="d-flex align-items-center">
                <div class="col" style="margin-top: 4%;">
                    <!--    Titulo da Secao     -->
                    <div class="d-flex align-items-center justify-content-between">
                        <h1 th:text="#{servidor.list}" class="m-0"></h1>
                    </div>
                    <!--    Tabela com os dados da secao     -->
                    <table class="table table-hover table-borderless table-striped cachaCard">
                        <thead>
                            <tr>
                                <th th:text="#{table.servidor.id}"          style="width: 3%; text-align: center;"></th>
                                <th th:text="#{table.servidor.name}"        style="width: 20%;"></th>
                                <th th:text="#{table.servidor.owner}"       style="width: 10%;"></th>
                                <th th:text="#{table.servidor.salaBVinda}"  style="width: 20%;"></th>
                                <th th:text="#{table.servidor.ativo}"       style="width: 15%;"></th>
                                <th th:text="#{table.servidor.cadastro}"    style="width: 15%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${servidor.empty}">
                                <td colspan="7" th:text="#{table.servidor.vazio}"></td>
                            </tr>
                            <tr th:each="server : ${servidor}">
                                <td  style="width: 3%; text-align: center;"><span th:text="${server.servidorID}"></span></td>
                                <td><span th:text="${server.nome}"></span></td>
                                <td><span th:text="${server.colaborador?.nomePessoal ?: 'Não informado'}"></span></td>
                                <td><span th:text="${server.salaBoasVindas}"></span></td>
                                <td><span th:text="${server.ativo} ? 'ATIVO' : 'DESATIVADO'"></span></td>
                                <td><span th:text="${server.cadastro} ? 'ATIVO' : 'DESATIVADO'"></span></td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </section>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            <!-- ROODAPE DA PAGINA -->
            <div th:insert="~{modulos/fragmento-footer-blank :: footer-limpo}"></div>
        </div>
    </div>
</body>
</html>