<!DOCTYPE html>
<!-- 
 * Projeto:  CachaBot  -  BOT para o Discord para gerenciar Usuarios.
 * Gerente:  Sergio Murilo  -  smurilo at GMail
 * Data:     Manaus/AM  -  2024
 * Equipe:   Murilo, Victor, Allan
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{modulos/fragmento-header :: header-section}">
    <title>CachaBOT</title>
</head>

<body th:style="'background-image:url(' + @{/assets/cacha_bg.png} + '); background-repeat: no-repeat, repeat; background-size: cover;'">    
    <!-- Full Page Container -->
    <div id="page-container">
        <!-- CONTEUDO DA PAGINA  -->
        <div id="content-wrap">
            <!--  MENU DO SISTEMA  -->
            <div th:insert="~{modulos/fragmento-menu-sistema :: navbar-menusistema}"></div>
            <!--  AREA DO CONTEUDO DINAMICO  -->
            <div class="d-flex align-items-center">
                <div class="col" style="margin-top: 75px; padding: 2em;">
                    <!--    Titulo da Secao     -->
                    <div class="d-flex align-items-center justify-content-between" style="padding-left: 2%;padding-right: 2%; padding-bottom: 1%;">
                        <h1 th:text="#{users.list}" class="m-0"></h1>
                        <a class="btn-alink" target="_blank" th:href="@{/usuario/listar/{ordenar}(ordenar=true)}" sec:authorize="hasAuthority('Administrador')"  th:title="#{global.link.print}">
                            <i class="fa-solid fa-print fa-2xl" style="color: #000000;"></i></a>
                    </div>
                    <!--    Tabela com os dados da secao     -->
                    <table class="table table-hover table-borderless table-striped cachaCard">
                        <thead>
                            <tr>
                                <th th:text="#{table.usuario.id}"      style="width: 10%; text-align: center;"></th>
                                <th th:text="#{table.usuario.name}"    style="width: 25%;"></th>
                                <th th:text="#{table.usuario.email}"   style="width: 20%;"></th>
                                <th th:text="#{table.usuario.ativo}"   style="width: 10%;"></th>
                                <th th:text="#{table.usuario.perfil}"  style="width: 10%;"></th>
                                <th th:text="#{table.usuario.totalServidores}"  style="text-align: center; width: 10%;"></th>
                                <th style="text-align: center; width: 5%;"></th>
                                <th th:text="#{table.usuario.actions}"          style="text-align: center;" colspan="3"  sec:authorize="hasAnyAuthority('Administrador', 'Gerente')"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${usuariosList.empty}" class="text-center">
                                <td colspan="7" th:text="#{table.usuario.vazio}"></td>
                            </tr>
                            <tr th:each="server : ${usuariosList}">
                                <td style="width: 3%; text-align: center;"><span th:text="${server.entidadeID}"></span></td>
                                <td><span th:text="${server.nomePessoal}"></span></td>
                                <td><span th:text="${server.contaEmail}"></span></td>
                                <td><span th:text="${server.ativo} ? 'ATIVO' : 'DESATIVADO'"></span></td>
                                <td>
                                    <span th:if="${server.nivelAcesso != null}" th:text="${server.nivelAcesso.nome}"></span>
                                </td>
                                <td style="text-align: center;"><span th:text="${server.servidores.size}"></span></td>
                                
                                <!-- TROCAR SUA PROPRIA SENHA -->
                                <td style="text-align: center;">
                                    <!-- Botão de SENHA -->
                                    <a class="btn-alink" th:href="@{/usuario/senha/{id}(id=${server.entidadeID})}" 
                                                         th:title="#{global.link.password}"                                                         
                                                         th:if="${#authentication.name == server.contaEmail }">
                                        <i class="fa-solid fa-key text-black"></i>
                                    </a>&nbsp;
                                </td>
                                
                                <!-- ACOES -->
                                <td style="text-align: center;" sec:authorize="hasAnyAuthority('Administrador','Gerente')">
                                    <!-- Botão de EDITAR -->
                                    <a class="btn-alink" th:href="@{/usuario/atualizar/{id}(id=${server.entidadeID})}" 
                                                         th:title="#{global.link.edit}"
                                                         sec:authorize="hasAnyAuthority('Administrador','Gerente')"
                                                         th:if="${#authentication.name == server.contaEmail or #authorization.expression('hasAuthority(''Administrador'')')}">
                                        <i class="fa-solid fa-user-pen text-black"></i>
                                    </a>&nbsp;
                                </td>

                                <td style="text-align: center;" sec:authorize="hasAnyAuthority('Administrador','Gerente')">

                                    <!-- Botão de ATIVAR -->
                                    <a class="btn-alink"
                                       th:href="@{/usuario/ativar/{id}(id=${server.entidadeID})}"
                                       th:title="#{global.link.email}"
                                       sec:authorize="hasAnyAuthority('Administrador','Gerente')"
                                       th:if="${!server.ativo and (#authentication.name == server.contaEmail or #authorization.expression('hasAuthority(''Administrador'')'))}"
                                       onclick="return confirmarAtivacao(event, this);">
                                        <i class="fa-solid fa-envelope text-black"></i>
                                    </a>

                                    <!-- Botão de DESATIVAR -->
                                    <a class="btn-alink"
                                       th:href="@{/usuario/desativar/{id}(id=${server.entidadeID})}"
                                       th:title="#{global.link.user.desativar}"
                                       sec:authorize="hasAnyAuthority('Administrador','Gerente')"
                                       th:if="${server.ativo and (#authentication.name == server.contaEmail or #authorization.expression('hasAuthority(''Administrador'')'))}" >
                                        <i class="fa-solid fa-user-slash text-danger"></i>
                                    </a>

                                </td>
                                
                                <td style="text-align: center;" sec:authorize="hasAnyAuthority('Administrador','Gerente')">
                                    <!-- Botão de DELETAR -->
                                    <a class="btn-alink" th:href="@{/usuario/excluir/{id}(id=${server.entidadeID})}"
                                                         th:title="#{global.link.delete}"
                                                         sec:authorize="hasAnyAuthority('Administrador','Gerente')"
                                                         th:if="${#authentication.name == server.contaEmail or #authorization.expression('hasAuthority(''Administrador'')')}"
                                        onclick="return confirmarExclusao(event, this);">
                                        <i class="fa-solid fa-trash  text-black"></i>
                                    </a>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                    <nav style="margin-top: 20px;" th:if="${usuariosList.totalPages > 0}">
                        <ul class="pagination" style="justify-content: center;">
                            <!-- Botão Previous -->
                            <li class="page-item" th:classappend="${usuariosList.first} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/usuario/paginar/{page}/{pageSize}(page=${usuariosList.number}, pageSize=15)}">
                                    <span th:text="#{table.pagination.previous}"></span>
                                </a>
                            </li>
                            <!-- Links das páginas -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0, usuariosList.totalPages - 1)}"
                                th:classappend="${usuariosList.number == i} ? 'active'">
                                <a class="page-link"
                                   th:text="${i + 1}"
                                   th:href="@{/usuario/paginar/{page}/{pageSize}(page=${i+1}, pageSize=15)}"></a>
                            </li>
                            <!-- Botão Next -->
                            <li class="page-item" th:classappend="${usuariosList.last} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/usuario/paginar/{page}/{pageSize}(page=${usuariosList.number + 2}, pageSize=15)}">
                                    <span th:text="#{table.pagination.next}"></span>
                                </a>
                            </li>                 
                        </ul>
                    </nav>
                </div>
            </div>
            <!--  FIM DO CONTEUDO DINAMICO  -->
            <!-- ROODAPE DA PAGINA -->
            <div th:insert="~{modulos/fragmento-footer-blank :: footer-limpo}"></div>
        </div>
    </div>
</body>
</html>